/*page de connexion*/
.col.col-6.offset-md-3.py-5{
    margin-top: 6%;
}

.col .alignement{
    text-align: end;
}

.card-footer{
    text-align: center;
}    



/*page d'inscription*/
.col-sm-12.mb-3{
    text-align: start;
    font-weight: bold;
}